@model MobileShop.Models.LoginModel

@{
    ViewBag.Title = "ورود";
}


<div class="container text-right rtl py-5">
    <div class="row justify-content-center">
        <div class="col col-5 bg-white rounded border border-0 shadow p-4">
            @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <h3 class="text-center ">ورود به حساب کاربری</h3>
                    <ol class="pt-5">
                        <li class="text-center">
                            نام کاربری
                            <br />
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </li>
                        <li class="text-center">
                            رمز عبور
                            <br />
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </li>
                    </ol>
                    <div class="text-center">
                        <input class="btn btn-warning border-0 bg-warning w-50 p-2 text-center mx-auto" type="submit" value="ورود"/>
                    </div>
                </fieldset>
                <p class="pt-3">
                    حساب کاربری ندارید؟ @Html.ActionLink("ثبت نام", "Register") کنید
                </p>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}