<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/fonts/vazir")
        @Scripts.Render("~/bundles/modernizr")
        @*@Scripts.Render("~/bundles/bootstrap")*@
    </head>
    <body>
        <header>
            @*<div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>*@
            <div class="container pt-4 pb-4">
                <div class="row">
                    <div class="col-6">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-9">
                                @Html.TextBox("searchField", null, new { @class = "form-control text-end" , placeholder = "جستجو..."})
                            </div>
                            <div class="col-3 text-center">
                                logo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start pt-4 rtl">
                    <div class="col-1 border-start border-1 text-center">
                        @Html.ActionLink("موبایل", "Category", "Product", new { id = "موبایل"} , null)
                    </div>
                    <div class="col-1 border-start border-1 text-center">
                        لوازم جانبی
                    </div>
                    <div class="col-1 border-start border-1 text-center">
                        لپ تاپ
                    </div>
                    <div class="col-1 border-start border-1 text-center">
                        سوالات
                    </div>
                    <div class="col-1 border-start border-1 text-center">
                        درباره ما
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class=" main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - پروژه دانشگاه رازی اردبیل</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
